# Ignorar directorios generados por npm
node_modules/
.next/
npm-debug.log

# Ignorar archivos de configuración locales
.env
.next/
# ignorar archivos de dependencias
package-lock.json
# package.json
